/* font-family: 'Open Sans', sans-serif; Body

font-family: 'Raleway', sans-serif; Headeing */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    background-color:  hsl(219, 30%, 18%);
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
nav ul li{
    font-family: 'Raleway', sans-serif;
    list-style: none;
    display: inline;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 20px;
    font-size: .8em;
    cursor: pointer;
}
nav ul li:hover{
    color: white;
}
nav img{
    width: 90px;
}
header{
    background-color: hsl(219, 30%, 18%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(images/bg-curvy-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-bottom: 100px;
}
header div{
    width: 55%;
}
header img{
    width: 60%;
}
header h1{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    margin-top: 10px;
}
header p{
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    font-size: .8em;
    margin-top: 15px;
}
header button{
    width: 170px;
    height: 35px;
    border-radius: 100px;
    background-image: linear-gradient(90deg,hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
header button:hover{
    background-image: linear-gradient(90deg,hsl(176, 68%, 70%), hsl(176, 68%, 70%));
}
main{
    background-color: hsl(218, 28%, 13%);
    position: relative;
}
.first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px 80px;
    width: 90%;
    margin: 0px auto;
}
.first-section div{
    width: 270px;
    text-align: center;
}
.first-section img{
    width: 70px;
}
.first-section h4{
    color: white;
    font-family: 'Raleway', sans-serif;
}
.first-section p{
    font-family: 'Open Sans', sans-serif;
    font-size: .7em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 5px;
}
.second-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 20px 0px;
}
.second-section > img{
    width: 350px;
}
.second-section > div{
    margin-left: 20px;
}
.second-section h1{
    color: white;
    font-size: 1.6em;
    padding-right: 30px;
    font-family: 'Raleway', sans-serif;
}
.second-section > div > p{
    font-family: 'Open Sans', sans-serif;
    font-size: .7em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
}
.second-section > div > div{
    border-bottom: 1px solid hsl(198, 60%, 50%);
    width: fit-content;
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}
.second-section > div > div:hover{
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.second-section > div > div p{
    color: hsl(176, 68%, 64%);
    font-family: 'Open Sans', sans-serif;
    display: inline;
    font-size: .7em;
    margin-right: 3px;
}
.second-section > div > div p:hover{
    color: rgba(255, 255, 255, 0.7);
}
.second-section > div > div img{
    width: 13px;
}
.second-section > div > div p:hover ~ img{
    filter: brightness(200%);
}
.comments{
    padding: 30px 30px 220px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-image: url(images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: 17% 0%;
}
.comment{
    background-color: hsl(219, 30%, 18%);
    padding: 20px;
    border-radius: 5px;
    width: 280px;
}
.comment p{
    font-family: 'Open Sans', sans-serif;
    font-size: .65em;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
}
.comment div{
    margin-top: 20px;
}
.comment h6{
    color: rgb(233, 233, 233);
    font-family: 'Raleway', sans-serif;
}
.comment div img{
    float: left;
    width: 23px;
    border-radius: 50%;
    margin-top: 1px;
    margin-right: 5px;
}
.early-access-section{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: -60px;
    background-color: hsl(217, 28%, 15%);
    text-align: center;
    width: 650px;
    padding: 25px;
    border-radius: 10px;
}
.early-access-section h1{
    color: rgb(219, 219, 219);
    font-family: 'Raleway', sans-serif;
}
.early-access-section > p{
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    font-size: .7em;
    width: 80%;
    margin: 20px auto;
}
.early-access-section input{
    border: none;
    width: 370px;
    height: 30px;
    border-radius: 100px;
    margin-right: 15px;
    padding-left: 10px;
}
.early-access-section input::placeholder{
    color: rgba(0, 0, 0, 0.25);
    font-size: .9em;
}
.early-access-section div{
    display: inline-block;
}
.early-access-section div p{
    position: absolute;
    left: 90px;
    font-family: 'Open Sans', sans-serif;
    color: hsl(0, 100%, 63%);
    font-size: .7em;
    margin-top: 5px;
}
.early-access-section button{
    color: white;
    background-image: linear-gradient(30deg,hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border: none;
    border-radius: 100px;
    font-size: .7em;
    padding: 10px 20px;
    cursor: pointer;
}
.early-access-section button:hover{
    background-image: linear-gradient(90deg,hsl(176, 68%, 70%), hsl(176, 68%, 70%));
}
footer{
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    color: rgba(255, 255, 255, 0.6);
    background-color: hsl(216, 53%, 9%);
    padding: 100px 60px;
}
footer > img{
    width: 100px;
    margin-bottom: 30px;
}
footer > div{
    display: flex;
    justify-content: space-between;
}
footer > div > div:first-child{
    width: 300px;
}
footer > div p{
    margin-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}
footer > div p:hover{
    color: white;
}
.icon{
    float: left;
    width: 13px;
    margin-top: 3px;
}
footer > div i{
    border-radius: 50%;
    border: 1px solid white;
    padding: 6px 9px;
    margin-left: 5px;
    cursor: pointer;
}
footer > div i:hover{
    color: hsl(176, 68%, 64%);
    border: 1px solid hsl(176, 68%, 64%);
}

@media only screen and (max-width:684px) {
    nav{
        padding: 10px;
    }
    nav ul li{
        font-size: .7em;
    }
    header{
        padding-bottom: 0px;
        background-image: url(images/bg-curvy-mobile.png);
    }
    header div{
        width: 80%;
    }
    header img{
        width: 80%;
    }
    header button{
        margin: 10px 0px;
    }
    .first-section{
        padding-top: 100px;
    }
    .second-section{
        flex-direction: column;
        margin: 80px 0px;
    }
    .second-section > img{
        width: 300px;
    }
    .second-section > div{
        margin-left: 0px;
        margin-top: 30px;
    }
    .second-section h1{
        color: white;
        font-size: 1em;
        padding-right: 0px;
    }
    .comments{
        flex-direction: column;
        align-items: center;
        background-position: 24% 0%;
    }
    .early-access-section{
        width: 330px;
        padding: 20px;
    }
    .early-access-section h1{
        font-size: 1.2em;
    }
    .early-access-section > p{
        width: 90%;
    }
    .early-access-section input{
        width: 270px;
        margin-right: 0px;
        padding-left: 10px;
    }
    .early-access-section div{
        display: block;
    }
    .early-access-section div p{
        left: 40px;
        font-size: .6em;
        margin-top: 2px;
    }
    .early-access-section button{
        padding: 10px 86px;
        margin-top: 20px;
    }
    footer{
        padding: 100px 30px;
    }
    footer div{
        flex-direction: column;
    }
    footer > div > div:first-child{
        width: 250px;
        margin-bottom: 10px;
    }
    footer > div > div:not(:first-child,:nth-child(2)){
        margin-top: 40px;
        margin-left: -20px;
    }
    footer > div > div:last-child{
        align-self: center;
    }
    footer > div i{
        border-radius: 50%;
        border: 1px solid white;
        padding: 6px 9px;
        margin-left: 5px;
        cursor: pointer;
    }
    
}
